<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>FirstPage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/FirstPage.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
    <style>
        #Текст_2 {
            color: #e00000;
        }
        .FirstText{
            color: #e00000!important;
        }
    </style>
</head>
<header>
    С точки зpения банальной эpудиции, каждый индивидуум, кpитически мотивиpующий абстpакцию, не может игноpиpовать
    кpитеpии утопического субьективизма, концептуально интеpпpетиpуя общепpинятые дефанизиpующие поляpизатоpы, поэтому
    консенсус, достигнутый диалектической матеpиальной классификацией всеобщих мотиваций в паpадогматических связях
    пpедикатов, pешает пpоблему усовеpшенствования фоpмиpующих геотpансплантационных квазипузлистатов всех кинетически
    коpеллиpующих аспектов.
</header>
<div id="top">
    <p> This is the top of the page! </p>
</div>
<p>
    <a href="#bottom">Bottom</a>
</p>
<p class="Menu">
    Меню:
</p>
<div>
    <nav>
        <ol>
            <li><a href="#Текст 1"><h1 style="color:#e84478;">   <!--Встроенный стиль (Inline)-->
                <em>Текст 1</em></h1></a></li>
            <li><a href="#Текст_2"><h2>Текст 2</h2></a></li>
        </ol>
    </nav>
</div>
<a href="https://yandex.ru/images/search?from=tabbar&text=фотки%20котиков%20милых&pos=3&img_url=https%3A%2F%2Fst2.depositphotos.com%2F3047333%2F6790%2Fi%2F950%2Fdepositphotos_67904543-stock-photo-kitten-lying-among-flowers.jpg&rpt=simage"
   target="_blank"><img
        src="https://wallbox.ru/resize/320x240/wallpapers/main2/201730/cvety-kot-romaski-zivotnoe.jpg"
        alt="Здесь изображён котик!"/></a>
<div id="Текст 1">
    <p>
        <a>Текст 1</a>
    </p>
    <p class="FirstText">
        Современные технологии достигли такого уровня, что постоянный количественный рост и сфера нашей активности
        обеспечивает актуальность модели развития. Мы вынуждены отталкиваться от того, что сложившаяся структура
        организации обеспечивает широкому кругу (специалистов) участие в формировании первоочередных требований.

        Интерактивные прототипы призывают нас к новым свершениям, которые, в свою очередь, должны быть объединены в
        целые кластеры себе подобных. С другой стороны, семантический разбор внешних противодействий напрямую зависит от
        прогресса профессионального сообщества. Учитывая ключевые сценарии поведения, внедрение современных методик
        выявляет срочную потребность первоочередных требований. В рамках спецификации современных стандартов, многие
        известные личности являются только методом политического участия и указаны как претенденты на роль ключевых
        факторов.

        Равным образом, дальнейшее развитие различных форм деятельности однозначно определяет каждого участника как
        способного принимать собственные решения касаемо стандартных подходов! В своём стремлении повысить качество
        жизни, они забывают, что новая модель организационной деятельности создаёт предпосылки для прогресса
        профессионального сообщества. Ясность нашей позиции очевидна: существующая теория в значительной степени
        обусловливает важность переосмысления внешнеэкономических политик. Не следует, однако, забывать, что понимание
        сути ресурсосберегающих технологий играет определяющее значение для дальнейших направлений развития. Таким
        образом, перспективное планирование выявляет срочную потребность дальнейших направлений развития.
    </p>
</div>
<div id="Текст_2">
    <p>
        <a style="color: blue;">Текст 2</a>
    </p>
    <p>
        Есть над чем задуматься: стремящиеся вытеснить традиционное производство, нанотехнологии призваны к ответу.
        Также как курс на социально-ориентированный национальный проект, в своём классическом представлении, допускает
        внедрение первоочередных требований.

        В рамках спецификации современных стандартов, независимые государства лишь добавляют фракционных разногласий и
        представлены в исключительно положительном свете. Кстати, акционеры крупнейших компаний формируют глобальную
        экономическую сеть и при этом - заблокированы в рамках своих собственных рациональных ограничений. Прежде всего,
        граница обучения кадров позволяет выполнить важные задания по разработке укрепления моральных ценностей.
        Предварительные выводы неутешительны: социально-экономическое развитие влечет за собой процесс внедрения и
        модернизации благоприятных перспектив. Имеется спорная точка зрения, гласящая примерно следующее: тщательные
        исследования конкурентов неоднозначны и будут объединены в целые кластеры себе подобных.

        Каждый из нас понимает очевидную вещь: начало повседневной работы по формированию позиции, а также свежий взгляд
        на привычные вещи - безусловно открывает новые горизонты для своевременного выполнения сверхзадачи. В рамках
        спецификации современных стандартов, некоторые особенности внутренней политики лишь добавляют фракционных
        разногласий и разоблачены. Но сложившаяся структура организации говорит о возможностях экспериментов, поражающих
        по своей масштабности и грандиозности. В рамках спецификации современных стандартов, явные признаки победы
        институционализации указаны как претенденты на роль ключевых факторов.

        Также как перспективное планирование создаёт предпосылки для поэтапного и последовательного развития общества.
        Для современного мира реализация намеченных плановых заданий является качественно новой ступенью прогресса
        профессионального сообщества. И нет сомнений, что акционеры крупнейших компаний, которые представляют собой
        яркий пример континентально-европейского типа политической культуры, будут обнародованы. Принимая во внимание
        показатели успешности, курс на социально-ориентированный национальный проект создаёт предпосылки для поэтапного
        и последовательного развития общества.
    </p>
</div>
<p><a href="{% url 'Validation' %}">Проверка валидации формы</a></p>
<p><a href="{% url 'SecondPage' %}">Следующая страница</a></p>
<p>
    <a href="#top">Top</a>
</p>
<div id="bottom">
    <p class="BottomText"> This is the bottom of the page! </p>
</div>
</html>