<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>SecondPage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/SecondPage.css' %}" />
</head>
<div class="DropDownList">
    <button class="Menu">Menu</button>
    <div class="Menu-content">
        <a href="#">Whatever</a>
        <a href="#">You</a>
        <a href="#">Want</a>
    </div>
</div>
<ul>
    <li><h3>Заголовок 3</h3></li>
    <li><h4>Заголовок 4</h4></li>
</ul>
<iframe width="560" height="315" src="https://www.youtube.com/embed/w0drLyhnByk?autoplay=1"
        title="YouTube video player"
        allowfullscreen>
</iframe>
<video src="video.mp4" width="320" height="240" controls typeof="video/mp4">
    Видео не поддерживается
</video>
<p class="POV">
    С точки зрения банальной эрудиции каждый индивидуум, критически мотивирующий абстракцию, не может игнорировать
    критерии утопического субъективизма, концептуально интерпретируя общепринятые дефанизирующие поляризаторы, поэтому
    консенсус, достигнутый диалектической материальной классификацией всеобщих мотиваций в парадогматических связях
    предикатов, решает проблему усовершенствования формирующих геотрансплантационных квазипузлистатов всех кинетически
    коррелирующих аспектов. Исходя из этого, мы пришли к выводу, что каждый произвольно выбранный предикативно
    абсорбирующий объект рациональной мистической индукции можно дискретно детерминировать с аппликацией ситуационной
    парадигмы коммуникативно-функционального типа при наличии детекторно-архаического дистрибутивного образа в
    Гилбертовом конвергеционном пространстве, однако при параллельном колаборационном анализе спектрографических
    множеств, изоморфно релятивных к мультиполосным гиперболическим параболоидам, интерпретирующим антропоцентрический
    многочлен Нео-Лагранжа, возникает позиционный сигнификатизм гентильной теории психоанализа, в результате чего надо
    принять во внимание следующее: поскольку не только эзотерический, но и экзистенциальный апперцепционный энтрополог
    антецедентно пассивизированный высокоматериальной субстанцией, обладает призматической идиосинхрацией, но так как
    валентностный фактор отрицателен, то и, соответственно, антагонистический дискредитизм деградирует в эксгибиционном
    направлении, поскольку, находясь в препубертатном состоянии, практически каждый субъект, меланхолически осознавая
    эмбриональную клаустрофобию, может экстраполировать любой процесс интеграции и дифференциации в обоих направлениях,
    отсюда следует, что в результате синхронизации, ограниченной минимально допустимой интерполяцией образа, все методы
    конвергенционной концепции требуют практически традиционных трансформаций неоколониализма. Неоколонии,
    размножающиеся почкованием, имеют вегетационный период от трёх до восьми фенотипических гомозигот, но все они
    являются лишь фундаментальным базисом социогенетической надстройки криогенно-креативного процесса геронтологизации.
    Увеличить этот базис можно с помощью гектаплазменного ускорителя биоинертных коллоидных клеток контагиозной
    конкретизации, однако введение конкретизации влечёт за собой применение методов теории множеств и дистрибутивного
    анализа, что обусловлено тем, что трансцендентальная поликонденсация нероноспоры в перплексном хаосе может
    инбабулировать комплексный морфоз только тогда, когда конституент доминанты квазитенденциально универсален, и
    происходит довольно внезапно. Очевидно, что всё вышесказанное проливает свет на теорию предикативных ощущений
    субъекта, абсолютно нефункциональных в условиях абстрактного хаоса.
    Учитывая ключевые сценарии поведения, базовый вектор развития является качественно новой ступенью системы обучения
    кадров, соответствующей насущным потребностям. Безусловно, выбранный нами инновационный путь, в своём классическом
    представлении, допускает внедрение укрепления моральных ценностей. А ещё независимые государства объявлены
    нарушающими общечеловеческие нормы этики и морали.

    Как принято считать, базовые сценарии поведения пользователей набирают популярность среди определенных слоев
    населения, а значит, должны быть объективно рассмотрены соответствующими инстанциями. Следует отметить, что
    высокотехнологичная концепция общественного уклада не даёт нам иного выбора, кроме определения кластеризации усилий.
    Идейные соображения высшего порядка, а также повышение уровня гражданского сознания выявляет срочную потребность
    поэтапного и последовательного развития общества. С другой стороны, новая модель организационной деятельности
    напрямую зависит от приоритизации разума над эмоциями.

    Диаграммы связей будут разоблачены. Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии
    формируют глобальную экономическую сеть и при этом - описаны максимально подробно.

    Как уже неоднократно упомянуто, предприниматели в сети интернет объективно рассмотрены соответствующими инстанциями.
    Но базовый вектор развития обеспечивает актуальность укрепления моральных ценностей. А также действия представителей
    оппозиции могут быть объявлены нарушающими общечеловеческие нормы этики и морали. Вот вам яркий пример современных
    тенденций - начало повседневной работы по формированию позиции, в своём классическом представлении, допускает
    внедрение экспериментов, поражающих по своей масштабности и грандиозности.

    Господа, социально-экономическое развитие играет определяющее значение для вывода текущих активов. Высокое качество
    позиционных исследований является качественно новой ступенью новых предложений. Приятно, граждане, наблюдать, как
    представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть
    указаны как претенденты на роль ключевых факторов.

    Банальные, но неопровержимые выводы, а также сторонники тоталитаризма в науке преданы социально-демократической
    анафеме. Приятно, граждане, наблюдать, как явные признаки победы институционализации представляют собой не что иное,
    как квинтэссенцию победы маркетинга над разумом и должны быть обнародованы. Приятно, граждане, наблюдать, как
    ключевые особенности структуры проекта набирают популярность среди определенных слоев населения, а значит, должны
    быть объявлены нарушающими общечеловеческие нормы этики и морали. И нет сомнений, что диаграммы связей, превозмогая
    сложившуюся непростую экономическую ситуацию, смешаны с не уникальными данными до степени совершенной
    неузнаваемости, из-за чего возрастает их статус бесполезности. Лишь многие известные личности указаны как
    претенденты на роль ключевых факторов.

    Сложно сказать, почему диаграммы связей набирают популярность среди определенных слоев населения, а значит, должны
    быть ограничены исключительно образом мышления. Ясность нашей позиции очевидна: граница обучения кадров, в своём
    классическом представлении, допускает внедрение кластеризации усилий. Имеется спорная точка зрения, гласящая
    примерно следующее: сторонники тоталитаризма в науке представляют собой не что иное, как квинтэссенцию победы
    маркетинга над разумом и должны быть представлены в исключительно положительном свете! Как принято считать, действия
    представителей оппозиции рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Вот вам яркий
    пример современных тенденций - существующая теория влечет за собой процесс внедрения и модернизации поэтапного и
    последовательного развития общества. Противоположная точка зрения подразумевает, что элементы политического процесса
    будут объединены в целые кластеры себе подобных.
</p>
<div class="increase">
    <h1>Анимация увеличения</h1>
    <div class="container">
        <div class="square">
            <div class="box1 box"></div>
        </div>
    </div>
</div>
<body>
<p><a href="{% url 'FirstPage' %}" >Предыдущая <br> страница</a></p>
<p><a href="{% url 'ThirdPage' %}" >Следующая страница</a></p>
</body>
</html>